@import '../../flexbox.scss';

@mixin panel {
  @include fullSizeContainer;
  display: flex;
  flex-direction: column;
}

.panelContainer {
  @include fullSizeContainer;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
