@import './panels';

.WelcomePanel {
  @include panel;
}

/*
.WelcomePanelHeader {
  display: flex;
  background: red;
  font-size: 48px;
  justify-content: center;
}

.WelcomePanelContent {
  @include fullSizeContainer;
  flex-direction: column;
  overflow: auto;
}

.WelcomePanelContent > * {
  padding: 20px;
  font-size: 32px;
  background: #4343e9;
  border-radius: 8px;
}

.WelcomePanelFooter {
  display: flex;
  background: green;
  font-size: 48px;
  justify-content: center;
}
*/
