@import './panels';

.WelcomePanel {
  @include panel;
}

.WelcomePanelHeader {
  display: flex;
  background: red;
  font-size: 48px;
  justify-content: center;
  margin: 0;
}

.WelcomePanelContentContainer1 {
  display: flex;
  flex: 1 1 auto;
}

.WelcomePanelContentContainer2 {
  flex: 1 1 auto;
  overflow: auto;
}

.WelcomePanelContent {
  min-height: 0px;
  height: 0px;
}

.WelcomePanelContent > * {
  margin: 5px;
  padding: 10px;
  font-size: 24px;
  background: #4343e9;
  border-radius: 8px;
}

.WelcomePanelFooter {
  display: flex;
  background: green;
  font-size: 48px;
  justify-content: center;
  margin: 0;
}
