@import '../../flexbox.scss';

.Shader {
  @include fullSizeContainer;
  display: flex;
  flex-direction: column;
}

.ShaderButtons {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.ShaderButtons > button {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}
