@import '../../flexbox.scss';

.BufferView {
  @include fullSizeContainer;
  display: flex;
  flex-direction: column;
}

.BufferView-testcontainer {
  @include fullSizeContainer;
  overflow-y: auto;
}

.BufferView-test {
  font-size: 24px;
  padding: 10px;
}
