@import '../../flexbox.scss';

.TextureView {
  @include fullSizeContainer;
  display: flex;
  flex-direction: column;
}

.TextureViewControls {
  display: flex;
  flex-direction: row;

  .TextureViewControlsExposureSlider {
    display: flex;
    flex-direction: row;
    width: 200px;
    align-items: center;

    .MuiTypography-root {
      margin-right: 5px;
    }
  }
}

.TextureViewInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.TextureViewInfoContainer > span,
.TextureViewInfoContainer > div {
  padding: 5px;
}

.TextureViewCursorColor {
  width: 25px;
  height: 25px;
}

.TextureViewCanvasContainer {
  @include fullSizeContainer;
}

.TextureViewCanvas {
  width: 100%;
  height: 100%;
  cursor: crosshair;
}
